<nav class="fixed top-0 left-0 right-0 bg-gray-900 shadow-lg  m-auto z-1">
  <div class="flex justify-around p-4 h-15">
      <h1 class=" text-yellow-500 text-2xl"> MIKE Movie</h1>

  </div>
</nav>

<router-outlet></router-outlet>

<nav class="fixed bottom-0 left-0 right-0 bg-gray-900 shadow-xl  m-auto">
  <div class="flex justify-around p-4 h-15  ">
    <button  pButton icon="pi pi-home" size="large" [rounded]="true" [text]="true" (click)="onclickHome()" ></button>
    <button pButton icon="pi pi-list"size="large" [rounded]="true" [text]="true" (click)="onClickLogIn()" ></button>
    <button pButton icon="pi pi-sign-in"size="large" [rounded]="true" [text]="true"  ></button>
    <button pButton icon="pi pi-envelope"size="large" [rounded]="true" [text]="true" (click)="onClickTodo()" ></button>
  </div>
</nav>




